.orders {
  
  width: 100%;
  box-sizing: border-box;
}

.title {

}


.list {
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-right: 8px;
  max-height: 70vh;
  gap: 16px;
  margin: 0;
  list-style: none;

}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  
}

.category {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}