.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  box-sizing: border-box;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  box-sizing: border-box;  
  max-width: 1280px;
  width: 100%;
}